h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--rose-900);
}

h4 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--rose-500);
  margin-bottom: 0.25rem;
}

.h4_bold {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
}

.price {
  color: var(--red);
}

.img_wrapper {
  position: relative;
  margin-bottom: calc(1rem + 21.5px);
}

.dessert_img{
  width: 100%;
  border-radius: 0.5rem;
}

.img_wrapper button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  gap: 10px;
  padding: 0.75rem;
  border-radius: 999px;
  background-color: var(--white);
  cursor: pointer;
  border: 0.5px solid;
  min-width: 133px;
}

.img_wrapper span {
  color: var(--rose-900);
  white-space: nowrap;
}

.main_container {
  padding: 1.5rem;
}

.card h3:first-of-type  {
  margin-bottom: 0.25rem;
}

.card h3:nth-of-type(2) {
  margin-bottom: 1.5rem;
}

.img_wrapper button.btn-2 {
  background-color: var(--red);
  border: none;
  min-width: 133px;
  justify-content: space-between;
  cursor: auto;
}

.img_wrapper button.btn-2 span {
    color: var(--white);
    width: 3ch;
    text-align: center;
}

.img_wrapper button.btn-2 img {
    border-radius: 50%;
    border: 2px solid var(--white);
    padding: 3px;
    cursor: pointer;
}