.text-preset-3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;

}

.text-preset-4-bold {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
}

.card {
  margin-bottom: 1.5rem;
}

.card:last-of-type {
  margin-bottom: 2rem;
}

.card-dessert-category {
  color: var(--rose-500);
  margin-bottom: 0.25rem;
}

.card-dessert-name {
  color: var(--rose-900);
  margin-bottom: 0.25rem;
}

.card-price {
  color: var(--red);
}

.img_wrapper {
  position: relative;
  margin-bottom: calc(1rem + 23.5px);
}

.dessert_img {
  width: 100%;
  border-radius: 0.5rem;
}

.img_wrapper button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  gap: 10px;
  padding: 0.75rem;
  border-radius: 999px;
  background-color: var(--white);
  cursor: pointer;
  border: 0.5px solid;
  min-width: 133px;
}

.img_wrapper span {
  color: var(--rose-900);
  white-space: nowrap;
}

.main_container {
  padding: 1.5rem;
}


.card h3:nth-of-type(2) {
  margin-bottom: 1.5rem;
}

.img_wrapper button.btn-2 {
  background-color: var(--red);
  border: none;
  min-width: 133px;
  justify-content: space-between;
  cursor: auto;
}

.img_wrapper button.btn-2 span {
  color: var(--white);
  width: 3ch;
  text-align: center;
}

.img_wrapper button.btn-2 svg {
  border-radius: 50%;
  border: 2px solid var(--white);
  padding: 3px;
  cursor: pointer;
  color: var(--white);
}

.img_wrapper button.btn-2 svg:hover {
  background-color: var(--white);
  color: var(--red)
}

.active {
  border: 2px solid var(--red);
}

.add-to-cart-btn svg {
  color: var(--red);
}

.add-to-cart-btn:hover {
  border: 1px solid var(--red);
}

.add-to-cart-btn:hover span {
  color: var(--red);
}

.decrement-btn:hover {
  background-color: var(--white);
  color: black;
}


@media only screen and (min-width: 768px) {
  .cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }

  .card {
    margin-bottom: 2rem;
  }
  .overlay.overlay-open {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-panel.modal-open {
    opacity: 1;
    pointer-events: auto;
    transition: transform 800ms ease-out;
    
  }

  .modal-panel {
    padding: 2.5rem;
    border-radius: 12px;
    position: relative;
    width: 100%;
    bottom: auto;
    left: auto;
    right: auto;
    max-width: 94%;
    max-height: 70vh;
    opacity: 0;
    transform: translateY(100vh);
    transition: opacity 100ms ease-out;
    pointer-events: none;
}

}

@media only screen and (min-width: 992px) {
  .main_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5.5rem 2.5rem;
    column-gap: 2rem;
  }

  .cards_container {
    grid-row-start: 2;
  }

  .cart {
    grid-row: 1 / 3;
    align-self: start;
  }

  .modal-panel.modal-open {
    inset: auto;
    width: 60vw;
    max-height: 70vh;
    height: auto;
  }


}

@media only screen and (min-width: 1200px) {}