.cart_item_div {
    border-bottom: 1px solid var(--rose-100);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.cart-items-wrapper .cart_item_div:last-child {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.cart-dessert-title {
    color: var(--rose-900);
    text-align: start;
    margin-bottom: 0.5rem;
}

.cart-total-price-item-div {
    display: flex;
    gap: 0.5rem;
}

.cart-quantity-of-dessert {
    color: var(--red);

}

.cart-price-of-dessert {
    color: var(--rose-500);
}

.cart-dessert-total-price {
    color: var(--rose-500);
}

.cart_item_div img {
    margin: 0;
    align-self: center;
    border-radius: 50%;
    border: 2px solid var(--rose-400);
    padding: 3px;
    cursor: pointer;
    color: var(--rose-400);
}

