.grid_confirmed_items img {
    grid-row: 1 / 3;
}

.grid_confirmed_items h4:first-of-type {
    color: var(--rose-900);
    white-space: nowrap;
}

.grid_confirmed_items h4:nth-of-type(2) {
    color: var(--red);
    grid-row: 2;
    grid-column: 2;
}

.grid_confirmed_items h4:nth-of-type(3) {
    color: var(--rose-500);
    grid-column: 2;
    grid-row: 2;
}

.grid_confirmed_items h3 {
    color: var(--rose-900);
}

.confirmed-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--rose-100);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.title-quantity-price {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quantity-price {
    display: flex;
    gap: 0.5rem;
}

.thumbnail-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.modal-dessert-title {
    color: var(--rose-900);
    /* white-space: nowrap; */
}

.modal-quantity-of-dessert {
    color: var(--red);
}

.modal-price-of-dessert {
    color: var(--rose-500);
}

.modal-dessert-total-price {
    color: var(--rose-900);
    margin-left: auto;
}