.grid_confirmed_items img {
    grid-row: 1 / 3;
}

.grid_confirmed_items h4:first-of-type {
    color: var(--rose-900);
    white-space: nowrap;
}

.grid_confirmed_items h4:nth-of-type(2) {
    color: var(--red);
    grid-row: 2;
    grid-column: 2;
}
.grid_confirmed_items h4:nth-of-type(3) {
    color: var(--rose-500);
    grid-column: 2;
    grid-row: 2;
}

.grid_confirmed_items h3 {
    color: var(--rose-900);
}

.grid_confirmed_items {
    padding: 1.5rem;
    background-color: var(--rose-50);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}