.text-preset-2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
}

.cart-title {
    color: var(--red);
    margin-bottom: 1.5rem;
}

.cart_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cart-total-text {
    color: var(--rose-900);
}

.cart-total-order-price {
    margin-bottom: 0;
    color: var(--rose-900);
}

.carbon_neutral {
    padding: 1rem;
    background-color: var(--rose-50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.carbon_neutral p {
    margin-bottom: 0;
    white-space: nowrap;
    color: var(--rose-900);
}
.carbon_neutral span {
    color: var(--rose-900);
}
.carbon_neutral img {
    margin: 0;
}

.cart {
    background-color: var(--white);
    border-radius: 12px;
    padding: 1.5rem;
}



.empty-cart-default-img {
    margin: auto;
    margin-bottom: 1rem;
}

.empty-cart-default-text {
    color: var(--rose-500);
    text-align: center;
}

.empty-cart-default-img-and-text {
    padding: 1rem 0;
}

button img {
    color: var(--red);
}

.cart-confirm-order-btn {
    border-radius: 999px;
    background-color: var(--red);
    padding: 1rem 1.5rem;
    width: 100%;
    color: var(--white);
    cursor: pointer;
    border: none;
}

button h3 {
    color: var(--white);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    height: 91vh;
    padding: 2.5rem 1.5rem 1.5rem;
    z-index: 1000;
    overflow-y: auto;
}

.modal-title {
    color: var(--rose-900);
    margin-bottom: 0.5rem;
}

.modal .modal-text {
    color: var(--rose-500);
    font-weight: 400;
    margin-bottom: 2rem;
}

.confirmed-items-container {
    background-color: var(--rose-50);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.wrapper-for-confirmed-items-only .confirmed-items:last-child {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.modal-order-total-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-total-text {
    color: var(--rose-900);
}

.modal-total-order-price {
    color: var(--rose-900);
}

.modal-start-new-order-btn {
    color: var(--white);
    background-color: var(--red);
    width: 100%;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.green-tick-img {
    margin-bottom: 1.5rem;
}