.text-preset-2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
}

.cart-title {
    color: var(--red);
    margin-bottom: 1.5rem;
}

.cart_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cart_total h4 {
    color: var(--rose-900);
}

.cart_total h2 {
    margin-bottom: 0;
}

.carbon_neutral {
    padding: 1rem;
    background-color: var(--rose-50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.carbon_neutral h4 {
    margin-bottom: 0;
    white-space: nowrap;
    color: var(--rose-900);
}

.carbon_neutral img {
    margin: 0;
}

.cart {
    background-color: var(--white);
    border-radius: 12px;
    padding: 1.5rem;
}



.empty-cart-default-img {
    margin: auto;
    margin-bottom: 1rem;
}

.empty-cart-default-text {
    color: var(--rose-500);
    text-align: center;
}

.empty-cart-default-img-and-text {
    padding: 1rem 0;
}

button img {
    color: var(--red);
}

.cart button {
    border-radius: 999px;
    background-color: var(--red);
    padding: 1rem 1.5rem;
    width: 100%;
    color: var(--white);
    cursor: pointer;
    border: none;
    margin-bottom: 1.5rem;
}

button h3 {
    color: var(--white);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    height: 91vh;
    padding: 2.5rem 1.5rem 1.5rem;
}

.modal h1 {
    color: var(--rose-900);
}

.modal h3 {
    color: var(--rose-500);
    font-weight: 400;
}